@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

@layer theme {
  :root {
    --color-airbus-green: #00FE2B;
    --color-airbus-blue: #02FFFA;
    --color-airbus-yellow: #FFFE10;
    --color-airbus-magenta: #EE4CED;
    --color-airbus-gray: #48495a;
    --color-airbus-light-gray: #868995;
    --color-airbus-white: #dedee3;
  }
}

@layer utilities {
  .text-airbus-green { color: var(--color-airbus-green) !important; }
  .text-airbus-blue { color: var(--color-airbus-blue) !important; }
  .text-airbus-yellow { color: var(--color-airbus-yellow) !important; }
  .text-airbus-magenta { color: var(--color-airbus-magenta) !important; }
  .text-airbus-gray { color: var(--color-airbus-gray) !important; }

  .group-hover\:outline-airbus-blue:hover { outline-color: var(--color-airbus-blue) !important; }

  .outline-airbus-blue { outline-color: var(--color-airbus-blue) !important; }

}

@font-face {
  font-family: 'MFDFont';
  src: url('/fonts/MFDFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.force-default-cursor,
.force-default-cursor * {
  cursor: auto !important;
}

html {
  font-family: 'MFDFont', sans-serif !important;
}

html, body, * {
  cursor: none !important;
}
